@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
      font-family: 'Android';
      src: url('/fontes/idroid.otf');
      font-weight: normal;
}
:root{
      --cor1: #c5ebd6;
      --cor2: #83e1ad;
      --cor3: #2fa866;
      --cor4: #1a5c37;
      --cor5: #063d1e;
      
      --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
      --fonte-destaque:  'Bebas Neue', cursive;
      --fonte-android: 'Android', cursive;

 }
 
 * {
      margin: 0px;
      padding: 0px;
 }

 body {
      background-color: var(--cor1);
      font-family: var(--fonte-padrao);
}

a.externo::after {
      content: '\00a0\1f517';
}

abbr {
      text-decoration: underline;
      font-style: italic;
}
   
header {
      background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
      min-height: 150px;
      text-align: center;
      padding-top: 35px;
}

header > h1 {
      color: white;
      font-family: var(--fonte-destaque);
      font-weight: normal;
      font-size: 3em;
      margin-bottom: 0px;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.311);
}

header > p {
      color: white;
      font-size: 1.2em;
      font-family: var(--fonte-padrao);
      max-width: 800px;
      padding: 0px 20px 30px 20px;
      margin: auto;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.311);
}

nav{
      background-color: var(--cor5);
      padding: 10px;
      text-align: center;
      box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.311);
}

nav > a {
      color: white;
      text-decoration: none;
      padding: 10px;
      font-weight: bold;
      border-radius: 5px;
      transition-duration: 0.5s;
      text-shadow:  1.5px 1.5px 0px rgba(0, 0, 0, 0.311);

}

nav > a:hover {
      background-color: var(--cor3);
      color: var(--cor5);
}

main {
      margin: auto;
      margin-bottom: 30px;
      min-width: 300px;
      max-width: 1000px;
      background-color: white;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.311);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      
}
main h1{
      color: var(--cor4);
      font-weight: normal;
      font-size: 2em;
      font-family: var(--fonte-android);
      text-align: center;
      padding: 10px;
}

main h2 {
      color: var(--cor4);
      font-weight: normal;
      font-family: var(--fonte-android);
      padding: 10px;
      background-image: linear-gradient(to right, var(--cor2), transparent);
}

main p {
      margin: 15px 0px;
      text-align: justify;
      text-indent: 30px;
      font-size: 1.1em;
      line-height: 1.5em;
}

main img {
      width: 100%;
}
main img.pequena {
      max-width: 350px;
      display: block;
      margin: auto;
}
main strong {
      color:var(--cor5);
      font-weight: bolder;
}
main a {
      color: var(--cor5);
      text-decoration: none;
      font-weight: bold;
}
main a:hover {
      background-color: var(--cor2);
      color: var(--cor5);
      transition-duration: 0.5s;

}

div.video {
      background-color: var(--cor5);
      margin-bottom: 30px;
      margin: 0px -20px 30px -20px;
      padding: 20px;
      padding-bottom: 56.5%;
      position: relative;
}

div.video > iframe {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;

}

aside{
      background-color: var(--cor1);
      padding: 10px;
      border-radius: 10px;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.311);
}
aside > h3 {
      background-color: var(--cor4);
      color: white;
      padding: 10px;
      margin: -10px -10px 0px -10px;
      border-radius: 10px 10px 0px 0px;
}

aside > ul {
      list-style-type: '\2714\00a0\00a0';
      list-style-position: inside;
      columns: 2;
}

footer{
      background-color: var(--cor5);
      color: white;
      text-align: center;
      padding: 10px;
}
footer a {
      color: var(--cor2);
      text-decoration: none;
}
footer > a:hover {
      text-decoration: underline;
      font-weight: bold;
      background-color: var(--cor2);
      color: var(--cor5);

}